<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bingMapsAddressUriTemplateSlug" value="${address}" />
    <add key="bingMapsApiKeyUriTemplateSlug" value="${apiKey}" />
    <add key="bingMapsApiKey" value="REPLACE_WITH_YOUR_BING_MAPS_API_KEY" />
    <add key="bingMapsGeoLocationUriTemplate" value="http://dev.virtualearth.net/REST/v1/Locations?q=${address}&amp;key=${apiKey}" />
    <add key="csvDataFilePath" value="foodTruckData.csv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>